#header
  background: url("../img/herobackground.jpg") no-repeat
  background-size: cover
  height: 85vh
  background-position: center
  text-align: center
  color: white
  overflow: hidden

  img
    max-width: 500px
    width: 100%

.article_header
  margin: 0 auto
  width: 50%

  h1
    margin-bottom: 10px
